@import url("https://fonts.cdnfonts.com/css/sarcophagus");

body {
  font-family: "Sarcophagus", sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: rgb(250, 244, 235);
  display: grid;
  flex-direction: column;
  grid-template-rows: 1fr 3fr 2fr 1fr;
}

.toprow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.screenrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.buttonrow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.bottomrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 200px;
  border-radius: 2px;
  box-shadow: 100px;
  box-shadow: 10px 5px 5px rgb(253, 236, 0);
}

.playerSide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}
.resultScreen {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.computerSide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}

.you {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}
.comp {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}

.playerScore {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}

.computerScore {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}

.results {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  flex-direction: column;
}

.resetButton {
  height: 40px;
  width: 70px;
  background: none;
  font-family: "Sarcophagus", sans-serif;
  font-size: 30px;
  box-shadow: 5px 5px 5px rgb(253, 236, 0);
}

.resultsFive {
  color: gold;
}
